@model IdentityCodeYad.ViewModels.LoginWithPhoneVM
@{
    ViewData["Title"] = "Log In";
    var returnUrl = ViewBag.ReturnUrl as string;
}

<h1>Log In</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Login" method="post" asp-route-returnUrl="@returnUrl">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control"/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send Confirmation Code" class="btn btn-success"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Account" asp-action="ForgotPassword">Forgot Your Password ?</a>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}