@model IdentityCodeYad.ViewModels.ResetPasswordVM
@{
    ViewData["Title"] = "Reset Password";
}

<h1>Reset Password</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="ResetPassword" method="post">
            <input type="hidden" asp-for="Email"/>
            <input type="hidden" asp-for="Token"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control"/>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNewPassword" class="control-label"></label>
                <input asp-for="ConfirmNewPassword" class="form-control"/>
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Reset Password" class="btn btn-success"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
