@model string?
@{
    Layout = null;
}

<div style="direction: rtl">
    <p style="color: red">ممنون از ثبت نام شما لطفا حساب خود را با کلیک بر روی لینک زیر تایید کنید</p><br/>
    <a style="background: green; color: black;font-size: larger" href="@Model">تایید حساب</a>
</div>
