@model string?
@{
    Layout = null;
}

<div style="direction: rtl">
    <p style="color: black">برای بازیابی کلمه عبور خود روی لینک زیر کلیک کنید</p><br/>
    <a style="background: green; color: black;font-size: larger" href="@Model">بازیابی کلمه عبور</a>
</div>